.Reservar {
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    padding-top: 100px;
    background-color: rgba(0, 255, 255, 0.671);
}

.reserva-form {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 450px;
    background-color: aliceblue;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.418);
}

.flex-inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.flex-inputs div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-inputs div p {
    margin: 0;
    font-weight: 600;
}

.flex-inputs div input {
    width: 250px;
    height: 35px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.685);
    text-align: center;
}

.flex-inputs div select {
    width: 100%;
    height: 40px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.685);
    text-align: center;
}

.search-responsavel {
    margin-top: 10px;
    width: 100%;
}

.search-responsavel div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.search-responsavel div p {
    font-weight: 600;
    margin: 0;
}

.search-responsavel div input {
    height: 30px;
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
}

.search-responsavel div select {
    margin-top: 10px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
}

.search-responsavel div select option {
    text-align: center;
}

.reservar {
    height: 40px;
    background-color: rgb(15, 202, 46);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.reservar:hover {
    background-color: rgb(1, 255, 43);
    transition: .3s;
}

.chales{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: end;
}

.chales div{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chales div select{
    width: 200px;
}

.div-s{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    justify-content: end !important;
}

.div-s div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.chales button{
    width: 40px;
    height: 40px;
}

@media (max-width: 750px){

    .reserva-form {
        max-width: 320px;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .flex-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .flex-inputs div p {
        margin: 0;
        font-weight: 600;
    }
    
    .flex-inputs div input {
        width: 100%;
        height: 25px;
        font-size: 22px;
    }
    
    .flex-inputs div select {
        width: 100%;
        height: 25px;
        font-size: 22px;
    }
    
    .search-responsavel {
        margin-top: 10px;
        width: 100%;
    }
    
    .search-responsavel div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    
    .search-responsavel div p {
        font-weight: 600;
        margin: 0;
    }
    
    .search-responsavel div input {
        height: 30px;
        font-size: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 0.699);
    }
    
    .search-responsavel div select {
        margin-top: 0px;
        margin-bottom: 5px;
        height: 30px;
        font-size: 18px;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .search-responsavel div select option {
        text-align: center;
    }
    
    .reservar {
        height: 40px;
        background-color: rgb(15, 202, 46);
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
        transition: .3s;
    }
    
    .reservar:hover {
        background-color: rgb(1, 255, 43);
        transition: .3s;
    }

    .setWidthAll{
        width: 250px !important;
    }

    .just-for-separation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .searchDateLink{
        margin: 0;
    }

    .searchDateLink button{
       height: 30px;
       background-color: rgb(255, 6, 6);
       color: white;
    }

    .chales{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
    }

    .chales button{
        width: 100%;
        height: 20px;
    }
    
    .chales div{
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .chales div select{
        width: 200px;
    }
}